/*left section video description and comments */

.video_item--bigContainer {
  display: flex;
  justify-content: space-between;
  
}

.video_item--smallContainer {
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid #AFAFAF;
  display: flex;
  justify-content: space-between;
  
}

.video__herotitle {
  padding-top: 20px;
}

.video__paragraph--wrapper {
  padding-top: 40px;
  padding-right: 150px;
}
.video__herotitle {
  padding-right: 250px;
}
#video__paragraph {
  @include h4-font;
  padding-bottom: 40px;
}


/*comment section*/
.convo__input--wrapper{
display: flex;
flex-flow: row wrap;
padding-bottom: 10px;
padding-top: 20px;


}
.conversation__title {
  @include h5-font;
}
.conversation__input {
  
  border-color:  #0065FF;
  min-width: 370px;
  
}
.conversation__input, #comment__button {
  padding: 10px 30px;
  border-radius: 8px;
}

.comment_section_container--small {
  width:100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

#comment__button {
  margin-left: 16px;
min-width: 150px;
  background-color: #0065FF;
  color: white;
}


.static_comments {
  display:flex;
  flex-flow: column wrap;

}

.static_comment {
  width: 100%;
  display: flex; 
  border-top: 2px solid rgb(175, 184, 193);
}



.static_comment:nth-last-child(1) {
  border-bottom: 2px solid rgb(175, 184, 193);
  
}


.comment_content {
  padding-bottom: 24px;


}

.comment_name {
  padding-top: 24px;
  padding-bottom: 8px;
  padding-right: 10px;
  margin: 0;
  display: inline-block;
}

.comment_icon {
  padding-top:18px;
  padding-right: 20px;

  
  }

.para {
  padding-right: 40px;
  
}
.para_i {
  padding-right: 0px;
  display: flex;
  justify-content: center;
}
.icons {

    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.video__date {
  @include h5-font;
}

.video__numbers {
  @include h5-font;
  padding-right: 24px;

}
.icon__color--grey {
  background-color: lightgrey;
}

.icon__position {
  margin-right: 8px;
}
