/*fonts*/
/* header*/
.nav__container {
  width: 100%;
  height: 80px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.nav__wrapper {
  width: 100%;
  height: 80px;
  padding: 10px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar__Items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Navbar__Items:first-child {
  width: 10%;
}

.Navbar__Items--right {
  margin-left: auto;
}

img .logo--size {
  width: 100%;
  height: auto;
}

.search__container {
  width: 220px;
}

.upload__button {
  background-color: #0095FF;
  color: white;
  width: 90px;
  height: 50px;
  padding: 10px 10px;
  border-radius: 8px;
  margin-left: 24px;
  margin-right: 24px;
}

.search {
  border: 1px solid grey;
  width: 200px;
  height: 50px;
}

::-webkit-input-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

img.man_icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

input.search {
  padding: 10px;
  border-radius: 8px;
  height: 25px;
  background-image: url("../src/Assets/Icons/PNG/Icon-search.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-indent: 20px;
}

input.upload__button {
  font-size: 14px;
  font-weight: bold;
}

/* main - video */
.video__wrapper {
  width: 100%;
  height: 540px;
  background-color: black;
  position: relative;
  padding-bottom: 30%;
  /* 16:9 */
  padding-top: 100px;
  height: 0;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video__author {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  padding-right: 10px;
}

/*left section video description and comments */
.video_item--bigContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video_item--smallContainer {
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video__herotitle {
  padding-top: 20px;
}

.video__paragraph--wrapper {
  padding-top: 40px;
  padding-right: 150px;
}

.video__herotitle {
  padding-right: 250px;
}

#video__paragraph {
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 40px;
}

/*comment section*/
.convo__input--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-bottom: 10px;
  padding-top: 20px;
}

.conversation__title {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

.conversation__input {
  border-color: #0065FF;
  min-width: 370px;
  font-size: 14px;
  line-height: 22px;
}

.conversation__input, #comment__button {
  padding: 10px 20px;
  border-radius: 8px;
}

.comment_section_container--small {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#comment__button {
  margin-left: 16px;
  min-width: 150px;
  background-color: #0095FF;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

.static_comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.static_comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #afb8c1;
}

.static_comment:nth-last-child(1) {
  border-bottom: 2px solid #afb8c1;
}

.comment_content {
  padding-bottom: 24px;
}

.comment_name {
  padding-top: 24px;
  padding-bottom: 8px;
  padding-right: 10px;
  margin: 0;
  display: inline-block;
}

.comment_icon {
  padding-top: 18px;
  padding-right: 20px;
}

.para {
  padding-right: 40px;
}

.para_i {
  padding-right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.video__date {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

.video__numbers {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
  padding-right: 24px;
}

.icon__color--grey {
  background-color: lightgrey;
}

.icon__position {
  margin-right: 8px;
}

/* section */
.section__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.section__wrapper {
  width: 65%;
  padding-left: 180px;
  padding-right: 30px;
}

.video__font {
  font-size: 16px;
  line-height: 24px;
  color: #AFAFAF;
  padding-top: 40px;
}

.card_list {
  width: 100%;
}

.cards__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cards__wrapper {
  width: 100%;
  padding-bottom: 20px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

img.video__list--img {
  width: 120px;
  height: 70px;
  border-radius: 5px;
}

.video__title {
  font-size: 14px;
  line-height: 22px;
  width: 80%;
}

/*fonts*/
body, header, main, section, div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* upload page*/
.upload__container {
  width: 100%;
  padding: 0px 180px;
}

.upload__header {
  font-size: 36px;
  line-height: 44px;
  padding: 20px 0px;
}

.upload__wrapper--big {
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

input, textarea {
  background-color: #FAFAFA;
  border-color: #AFAFAF;
  width: 100%;
}

.upload__preview--imgsize {
  width: 100%;
  height: 183px;
}

.upload__wrapper--left {
  margin-right: 24px;
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.upload__wrapper--right {
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.videothumbnail__title {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

input.videotitle__input, textarea.videodescription__input {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 24px;
  padding: 8px;
}

textarea.videodescription__input {
  height: 94px;
}

.publish__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.publish__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.publish__button {
  padding: 10px;
  min-width: 160px;
  background-color: #0095FF;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  border-radius: 5px;
}

#cancel__text {
  font-size: 14px;
  line-height: 22px;
  color: #0095FF;
  padding-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0px;
}

/*fonts*/
body, header, main, section, div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 475px) {
  /*header*/
  .nav__container {
    height: auto;
  }
  .nav__wrapper {
    padding: 15px 16px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .Navbar__Items:first-child {
    width: 100%;
    padding-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Navbar__Items--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo__position {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .search {
    min-width: 250px;
  }
  input.upload__button {
    width: 200px;
    margin-left: 0px;
  }
  input.upload__button, .man_icon {
    margin-top: 8px;
  }
  /* section - mobile */
  .section__wrapper {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
  .video__herotitle {
    padding-right: 16px;
  }
  .video_item--smallContainer {
    padding-top: 16px;
  }
  .video__paragraph--wrapper {
    padding-top: 24px;
    padding-right: 16px;
  }
  /*main title - mobile*/
  .video_herotitle--wrapper {
    padding-bottom: 15px;
  }
  /*section - comment - mobile */
  .convo__input--wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .static_comments, .para_i {
    width: 100%;
  }
  .conversation__input {
    min-width: 170px;
    height: 70px;
    margin-bottom: 16px;
  }
  .para {
    padding-right: 0px;
  }
  .para_i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 100%;
  }
  #comment__button {
    margin: 0;
  }
  /* section - card list - mobile */
  .video__title {
    width: 100%;
  }
  .cards__item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 50%;
  }
  .cards__item {
    padding-top: 5px;
  }
  .cards__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (min-width: 476px) and (max-width: 767px) {
  /*header*/
  .nav__container {
    height: auto;
  }
  .nav__wrapper {
    padding: 15px 16px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .Navbar__Items:first-child {
    width: 100%;
    padding-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Navbar__Items--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo__position {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .search {
    width: 180px;
  }
  input.upload__button {
    width: 100px;
    margin-left: 0px;
  }
  input.upload__button, .man_icon {
    margin-top: 8px;
  }
  /* section - mobile */
  .section__wrapper {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
  .video__herotitle {
    padding-right: 16px;
  }
  .video_item--smallContainer {
    padding-top: 16px;
  }
  .video__paragraph--wrapper {
    padding-top: 24px;
    padding-right: 16px;
  }
  /*main title - mobile*/
  .video_herotitle--wrapper {
    padding-bottom: 15px;
  }
  /*section - comment - mobile */
  .convo__input--wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .static_comments, .para_i {
    width: 100%;
  }
  .conversation__input {
    min-width: 450px;
    height: 70px;
    margin-bottom: 16px;
  }
  .para {
    padding-right: 0px;
  }
  .para_i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 100%;
  }
  #comment__button {
    margin: 0;
  }
  /* section - card list - mobile */
  .video__title {
    width: 100%;
  }
  .cards__item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 50%;
  }
  .cards__item {
    padding-top: 5px;
  }
  .cards__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* tablet size ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*header-tablet */
  .nav__wrapper {
    padding: 10px 24px;
  }
  /* main - tablet */
  .video__wrapper {
    height: 400px;
  }
  .video__poster--size {
    height: 400px;
  }
  /*section - tablet */
  .section__wrapper {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }
}

/* section, comment part - tablet */
#comment__button {
  min-width: 160px;
  padding: 10px 10px;
}

.comment_content {
  padding-bottom: 18px;
}

.comment__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

/* card section - tablet */
.cards__container {
  padding-left: 24px;
}

.conversation__input {
  padding: 10px 20px 0px 20px;
}

@media only screen and (max-width: 1225px) {
  .section__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=index.css.map */